*{
box-sizing:border-box;
}


body{
    font-size:22px;
    line-height:18px;
    font-weight: bold;
    font font-family: arial, sans-serif;
}

h1{
color:rgb(51, 13, 13);
font-size:30px
}

main{
width:60%; 
float:left; 
background-color: rgb(172, 149, 194);s
clear: both;
padding:10%;
}

aside{
    width:30%;
    border:1px solid rgb(144, 144, 214);
    float:left; 
    padding:10%;
}

footer{
    clear:both;
    background-color:rgb(47, 185, 144);
    padding:10%;
}

.menu li{
    float: left;
    margin: 20px;
}

.menu{
    list-style: none;

    p{
        margin-top: 0;
        margin-bottom: 18px;
  }

  .menu a{
font-size: 18;
text-decoration: none;
text-transform: uppercase;

  }

  image{
      max-width:100;
  }

  @font-face{
      font-family"lora",
      src: url('fonts/Lora-Regular.ttf')
      format("ttf");
      
  }
    